{% extends "/main/base.html" %}

{% block head%}
<link rel="stylesheet" href="../static/vendor/extra-markers/css/leaflet.extra-markers.min.css">
<link rel="stylesheet" href="../static/vendor/font-awesome-470/css/font-awesome.min.css">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>



<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />

<script src="//rawgit.com/mapbox/mapbox-gl-leaflet/master/leaflet-mapbox-gl.js"></script>

<script src="../static/js/map.js"></script>
<script src="../static/js/autocomplete.js"></script>
<script src="../static/vendor/twbs/jquery.twbsPagination.js"></script>
<script src="../static/vendor/extra-markers/js/leaflet.extra-markers.min.js"></script>
<!-- <script src="../static/vendor/font-awesome/js/fontawesome.min.js"></script>
<script defer src="../static/vendor/font-awesome/styles/fa-solid.min.js"></script> -->
<script src="../static/js/route_api.js"></script>
<script src="../static/js/explore.js"></script>


{% endblock %}

{% block content %}

<style>
  #mapbox {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  .autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
  }

  .autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
  }

  .autocomplete-selected {
    background: #F0F0F0;
  }

  .autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
  }

  .autocomplete-group {
    padding: 2px 5px;
  }

  .autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
  }
</style>


  <div class="row">
    <div class="col-md-6">
      <div class="row">
          <nav class="navbar navbar-light bg-light">
              <div class="input-group">
                <span class="input-group-addon" id="btnGroupAddon"><i class="fa fa-search" aria-hidden="true"></i></span>
                {{ form.autocomp }}
                <button class="btn btn-outline-success my-2 my-sm-0" id='search_submit'>Search</button>
              </div>
            </nav>
      </div>
      <div class="row">
        <div class="row">
          <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
              aria-controls="collapseExample">
              Select venues
            </button>
          </p>
          <div class="collapse" id="collapseExample" style="width:100%" ;>
            <div class="card card-block">
              <div class="btn-group" data-toggle="buttons">
                {% for item in poi_type_checkbox %}
                  {% if item.name == 'csrf_token' %}
                    {{ item.csrf_token }}
                  {% else %}
                    <label class="btn btn-primary" for="{{ item.id }}">

                      {{ item(class_="poi-checkbox") }} {{ item.name }}
                    </label>
                  {% endif %}
                {% endfor %}
              </div>
              <p>
                <button id="venue-update" class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample">Update
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Routes
            </button>
            <div class="dropdown-menu" id="dropdown-menu-items" aria-labelledby="dropdownMenu2">
              <!-- Route list goes here -->
            </div>
          </div>
          <button type="button" class="btn btn-danger" id="delete_route">
            Delete route
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newRouteModal">
            Create new route
          </button>
    
          <!-- Modal -->
          <div class="modal fade" id="newRouteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">Create new route</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="" method="post" id="submitNewRouteModal">
                <div class="modal-body">
                  {{ form.new_route }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" id="newRouteModalSave" class="btn btn-primary">Save changes</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="route-name">
          <!-- Route name goes here -->
        </div>
      </div>
      <div class="row">
        <div>
          <ul id="results">

          </ul>
          <!-- Results here -->
        </div>
      </div>
      <div class="row">
        <nav aria-label="Page navigation">
          <ul id="pagination">
            <!-- Pagination numbers will be inserted here -->
          </ul>
        </nav>
      </div>
      
    </div>
    <div class="col-md-6" style="height:80vh;">
      <div id='mapbox'></div>
    </div>
  </div>



</div>

{% endblock %}