<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>

    
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/js/vendor/modernizr.js"></script>

    
    <script src="https://www.celljs.org/cell.js"></script>
    <script src="../static/js/user_dashboard.js"></script>
    <link rel="stylesheet" href="../static/css/viator.css" />
    
</head>

<script type="text/template" id="start-date-input-template">
    <label>Start date
        <input type="text" placeholder="dd-mm-yyyy" id="start-date-input">
    </label>
</script>

<script type="text/template" id="end-date-input-template">
    <label>End date
        <input type="text" placeholder="dd-mm-yyyy" id="end-date-input">
    </label>
</script>

<script type="text/template" id="location-search-bar-template">
    <label>Where do you want to go? 
        <small>You'll be able to add other cities later on</small>
        <input type="text" placeholder="Enter a city / region" id="search-location-input">
    </label>
</script>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Site Title</li>
                <li class="has-submenu">
                    <a href="#">One</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li>
                            <a href="#">One</a>
                        </li>
                        <li>
                            <a href="#">Two</a>
                        </li>
                        <li>
                            <a href="#">Three</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Two</a>
                </li>
                <li>
                    <a href="#">Three</a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <input type="search" placeholder="Search">
                </li>
                <li>
                    <button type="button" class="button">Search</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-y">
            <div class="grid-x">
                Welcome {{ user.email }}
            </div>
            <div class="grid-x">
                <button value="Button" class="button" data-open="create-new-itinerary">Create a new itinerary</button>
                <div class="reveal" id="create-new-itinerary" data-reveal>
                    <h1>Awesome! Let's go.</h1>
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-12" id="location-search-bar">
                            <!-- Location search input -->
                        </div>
                        <div class="medium-6 cell" id="start-date">
                            <!-- Start date input -->
                        </div>
                        <div class="medium-6 cell" id="end-date">
                            <!-- End date input -->
                        </div>
                        <div class="cell text-center medium-12">
                            <a class="button text-center">Create itinerary</a> 
                        </div>
                        <button class="close-button" data-close aria-label="Close reveal" type="button"> 
                            <span aria-hidden="true">&times;</span> 
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <h2>Routes</h2>
            </div>
            <div class="grid-x"></div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="grid-container">
        <div class="grid-x">
            <div class="large-12 cell">
                <hr>
                <div class="grid-x">
                    <div class="large-6 cell">
                        <p>© Copyright no one at all. Go to town.</p>
                    </div>
                    <div class="large-6 cell">
                        <ul class="menu float-right">
                            <li>
                                <a href="#">Link 1</a>
                            </li>
                            <li>
                                <a href="#">Link 2</a>
                            </li>
                            <li>
                                <a href="#">Link 3</a>
                            </li>
                            <li>
                                <a href="#">Link 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>

    <script src="../static/vendor/foundation-datepicker/js/foundation-datepicker.min.js"></script>
    <link rel="stylesheet" href="../static/vendor/foundation-datepicker/css/foundation-datepicker.min.css" />

    <script>
        $(document).foundation();
    </script>
    <script src="../static/js/vendor/jquery.autocomplete.js"></script>
</body>

</html>