<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />

    <script src="//rawgit.com/mapbox/mapbox-gl-leaflet/master/leaflet-mapbox-gl.js"></script>

    <script src="../static/vendor/twbs/jquery.twbsPagination.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>

    <script src="../static/js/explore.js"></script>
    <script src="https://www.celljs.org/cell.js"></script>

    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/style.css" />

    <script src="../static/js/vendor/modernizr.js"></script>
</head>

<body>
    <div class="grid-y medium-grid-frame">
        <header>
            <h1>Explore</h1>
        </header>
        <div class="grid-x">
            <div class="cell medium-auto">
                <div class="grid-y medium-grid-frame grid-padding-y">
                    <div class="cell small-shrink medium-shrink large-shrink">
                        <form>
                            <div class="input-group">
                                <span class="input-group-label">Search</span>
                                <input class="input-group-field" type="url">
                            </div>
                            <button class="button" type="button" data-toggle="drop551">Toggle Dropdown</button>
                            <div class="dropdown-pane" id="drop551" data-dropdown>
                                <div class="large-6 cell">
                                    <label>Choose Your Favorite</label>
                                    <input type="radio" name="pokemon" value="Red" id="pokemonRed">
                                    <label for="pokemonRed">Red</label>
                                    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
                                    <label for="pokemonBlue">Blue</label>
                                </div>
                                <div class="large-6 cell">
                                    <label>Check these out</label>
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">Checkbox 1</label>
                                    <input id="checkbox2" type="checkbox">
                                    <label for="checkbox2">Checkbox 2</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="grid-x medium-cell-block-y large-cell-block-y grid-padding-x">
                        <div class="card medium-6">
                            <img src="http://pinegrow.com/placeholders/img12.jpg">
                            <div class="card-divider"> Styled Card </div>
                            <div class="card-section">
                                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                            </div>
                        </div>
                        <div class="card medium-6">
                            <img src="http://pinegrow.com/placeholders/img12.jpg">
                            <div class="card-divider"> Styled Card </div>
                            <div class="card-section">
                                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                            </div>
                        </div>
                        <div class="card medium-6">
                            <img src="http://pinegrow.com/placeholders/img12.jpg">
                            <div class="card-divider"> Styled Card </div>
                            <div class="card-section">
                                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                            </div>
                        </div>
                        <div class="card medium-6">
                            <img src="http://pinegrow.com/placeholders/img12.jpg">
                            <div class="card-divider"> Styled Card </div>
                            <div class="card-section">
                                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                            </div>
                        </div>
                        <div class="card medium-6">
                            <img src="http://pinegrow.com/placeholders/img12.jpg">
                            <div class="card-divider"> Styled Card </div>
                            <div class="card-section">
                                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                            </div>
                        </div>
                        <div class="card medium-6">
                            <img src="http://pinegrow.com/placeholders/img12.jpg">
                            <div class="card-divider"> Styled Card </div>
                            <div class="card-section">
                                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                            </div>
                        </div>
                        <div class="card medium-6">
                            <img src="http://pinegrow.com/placeholders/img12.jpg">
                            <div class="card-divider"> Styled Card </div>
                            <div class="card-section">
                                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                            </div>
                        </div>
                        <div class="card medium-6">
                            <img src="http://pinegrow.com/placeholders/img12.jpg">
                            <div class="card-divider"> Styled Card </div>
                            <div class="card-section">
                                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-shrink medium-shrink small-shrink text-center">
                        <ul class="pagination" role="navigation" aria-label="Pagination">
                            <li class="pagination-previous disabled">Previous
                                <span class="show-for-sr">page</span>
                            </li>
                            <li class="current">
                                <span class="show-for-sr">You're on page</span> 1
                            </li>
                            <li>
                                <a href="#" aria-label="Page 2">2</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Page 3">3</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Page 4">4</a>
                            </li>
                            <li class="ellipsis" aria-hidden="true"></li>
                            <li>
                                <a href="#" aria-label="Page 12">12</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Page 13">13</a>
                            </li>
                            <li class="pagination-next">
                                <a href="#" aria-label="Next page">Next
                                    <span class="show-for-sr">page</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell medium-6">
                <div class="grid-y medium-grid-frame">
                    <div class="pg-empty-placeholder align-stretch large-auto" id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>